* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    background: url("images/bg-main-desktop.png") no-repeat left / 30% 100%;
    font-family: "Space Grotesk", sans-serif;
    font-size: 18px;
}

#container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
}

/* Cards style */
.card-container {
    position: relative;
}

.card-front,
.card-back {
    width: 25rem;
    height: 13.6rem;
    border-radius: 10px;
}

.card-front {
    background: url("images/bg-card-front.png") no-repeat center;
    margin-bottom: 2rem;
    padding: 1.5rem;
    color: white;

    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "logo logo"
                         "logo logo"
                         "number number";
}

.card-front img {
    grid-area: logo;
}

#card-front-number {
    grid-area: number;
    align-self: end;
    font-size: 1.8rem;
    letter-spacing: .1rem;
}

#card-front-name,
#card-front-date {
    align-self: end;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: .9rem;
}

#card-front-date {
    justify-self: end;
}

.card-back {
    background: url("images/bg-card-back.png") no-repeat center;
    margin-left: 10rem;
    position: relative;
}

#card-back-cvc {
    position: absolute;
    top: 6rem;
    right: 3.5rem;
    color: white;
}

/* Form style */
.form-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "c-name c-name"
                         "c-number c-number"
                         "c-date c-cvc"
                         "c-btn c-btn";
    row-gap: 1.5rem;
}

.card-name-container {
    grid-area: c-name;
}

.card-number-container {
    grid-area: c-number;
}

.card-number,
.card-name {
    width: 100%;
}

.card-exp-date-container {
    grid-area: c-date;
}

.card-exp-date {
    width: 4.5rem;
}

.form-card label {
    display: block;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: .8rem;
    margin-bottom: .5rem;
}

.form-card input {
    border: 1px solid hsl(270, 3%, 87%);
    border-radius: .5rem;
    height: 2.5rem;
    padding: .7rem .9rem;
    font-family: "Space Grotesk", sans-serif;
    font-size: 1rem;
    outline: transparent;
}

.form-card input:focus {
    border: 1px solid hsl(278, 94%, 30%);
}

.form-card input::placeholder {
    color: hsl(0, 0%, 77%);
}

.error-message {
    display: none;
    color: hsl(0, 100%, 66%);
    font-size: .8rem;
    padding-top: .5rem;
}

.btn-card {
    grid-area: c-btn;
    height: 2.5rem;
    border-radius: .3rem;
    color: white;
    background-color: hsl(278, 68%, 11%);
    font-family: "Space Grotesk", sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 300ms;
}

.btn-card:hover {
    border: none;
    background: linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    transform: scale(1.02);
}

.completed-state {
    display: none;
}

/* Responsive */
@media (max-width: 1390px) {
    html {
        font-size: 16px;
    }

    #container {
        gap: 3.5rem;
    }

    .card-back,
    .card-front {
        background-size: contain;
    }
}

@media (max-width: 1080px) {
    html,
    body {
        background-size: 100% 30%;
        background-position: top;
        background-repeat: repeat-x;
        font-size: 18px;
    }

    #container {
        align-items: normal;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;
    }

    .card-container {
        margin-top: 8rem;
        align-self: center;
    }

    .card-back {
        position: absolute;
        top: -140px;
        margin-left: 5rem;
    }

    .card-front {
        position: relative;
        z-index: 2;
    }

    .card-cvc {
        width: 100%;
    }
}

@media (max-width: 650px) {
    #container {
        padding: 1rem;
        gap: 1rem;
    }

    .card-container {
        margin-top: 2rem;
        align-self: normal;
    }

    .card-container {
        font-size: 75%;
        margin-top: -4rem;
    }

    .card-front,
    .card-back {
        width: 25em;
        height: 13.6em;
    }

    .card-back {
        top: -104px;
        margin-left: 5em;
    }

    .card-front img {
        width: 3.5rem;
    }
    
    #card-front-number {
        font-size: 1.6em;
    }

    #card-front-name,
    #card-front-date {
        font-size: .9em;
    }

    #card-back-cvc {
        top: 6.1em;
        right: 3.5em;
    }
}

@media (max-width: 435px) {
    html {
        font-size: 95%;
    }

    .card-container {
        font-size: 65%;
        margin-top: -7rem;
    }

    .card-back {
        top: -90px;
    }
}

@media (max-width: 374px) {
    .card-container {
        font-size: 55%;
        margin-top: -5rem;
    }

    .card-front img {
        width: 3rem;
    }
    
    #card-front-number {
        font-size: 1.5em;
    }

    #card-front-name,
    #card-front-date {
        font-size: .9em;
    }
}